@charset "utf-8";
/* CSS doc*/

h1 {
	color: #000000;
	font-family: helvetica;
	text-align: left;
	font-size: 40px;
	display: inline-block;
	padding-right: 800px;
}

header {
	background-color: #adffc6;
	padding:45px 0px;
}

ul.navi li{
	display: inline-block;
	padding: 20px;
	font-size: 18px;
	font-family: helvetica;
	font-weight: bold;
	font-size: 20px;
}

ul.navi li:hover{
	border-style: solid;
	border-radius: 25px;
	border-color: #ffffff;
}

.background {
	background-image: url(four-rock-formation-668353.jpg);
	height: 700px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.7;
}

h2 {
	text-align: center;
	font-size:75px;
	color:#ffffff;
	font-family: helvetica;
}

h3 {
	text-align: center;
	font-size: 50px;
	color:#ffffff;
	font-family: helvetica;
}

.intro {
	text-align:center;
	font-size: 20px;
	color:#ffffff;
	font-family: helvetica;
}

footer {
	font-family: arial narrow;
	background-color:#adffc6;
	padding:60px 0px;
}

.copyright {
	padding-right: 25px;
	text-align: right;
}

.form {
	display: inline-block;
}
